// colors
$deep-blue: rgb(2, 46, 80);
$dark-red-color: rgb(153, 3, 23);
$red-color: rgb(240, 31, 59);
$dark-color: #232323;
$dark-50-color: #777777;
$yellow-color: rgb(255, 182, 6);
$white-color: rgb(255, 255, 255);
$light-white-color: rgb(241, 241, 241);
// $red-color: rgb(219, 68, 55);
$light-blue-color: rgba(11, 110, 223, 0.08);
$blue-color: rgb(11, 110, 223);

// font-weight
$fw-boldest: 900;
$fw-bold: 700;
$fw-medium: 600;
$fw-regular: 400;
$fw-light: 300;

// font-sizes
$hero-font: 55px;
$title-font: 32px;
$md-title-font: 24px;
$sm-title-font: 18px;
$description-font: 16px;
$sm-description-font: 14px;
$xs-description-font: 12px;
$link-font: 18px;

//border
$light-white-border: 0.5px solid rgba(255, 255, 255, 0.2);
$light-dark-border: 0.5px solid rgba(0, 0, 0, 0.1);
$light-blue-border: 0.5px solid rgb(11, 110, 223);
$light-red-border: 1px solid rgb(240, 31, 59);

// border-radius
$rounded-circle: 50%;
$web-border-radius: 4px;

// box-shadow
$box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.2);
$lg-box-shadow: 0px 0px 400px 0 rgba(0, 0, 0, 0.4);
