.change__password{
    background-color: #f1f1f1;
    &-box{
        padding: 30px;
        background-color: #fff;
        border-radius: 5px;
        margin: 40px 0;
        .title {
            font-size: 18px;

        }

        .sub-title {
            font-size: 14px;
            margin-bottom: 40px;
        }
        .default{
            font-size: 14px;
        }
        .form-control{
            font-size: 14px;
            padding: 0 10px;
            min-height: 45px;
            border-radius: 0;
            &:focus{
                box-shadow: none;
                border: 1px solid rgb(240, 31, 59);
            }
        }
        .password-requirement-list{
            li{
                font-size: 14px;
            }

        }
    }
}